<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Automation Suite">
    <listeners>
        <listener class-name="com.myautomation.listeners.ExtentReportListener"/>
    </listeners>
    
    <test name="Login Tests">
        <packages>
            <package name="com.myautomation.tests"/>
        </packages>
    </test>
    
    <test name="Cucumber Tests">
        <packages>
            <package name="com.myautomation.stepdefinitions"/>
        </packages>
    </test>
</suite>
